<h3 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-[20px]">
    Sobre Mi
</h3>
<div class="flex">
    <p class="pt-[100px]">
        Mi nombre es Joe Salazar, soy una persona autodidacta, responsable
        y comprometida con mi trabajo. Constantemente estoy aprendiendo
        tecnologías nuevas y herramientas para mejorar mis habilidades y
        poderlas compartir con personas interesadas.
        A su vez, siempre estoy buscando desafíos que demanden nuevos
        conocimientos, experiencias y que me lleven a superarme constantemente.
    </p>

    <img 
        class="ml-[80px]"
        src="img/sobre_mi.png" alt="">
</div>