<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <img 
        class="rounded-full w-[200px]"
        src="img/logo.png" 
        alt="Joe photo" 
    />

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top" class="relative inline-block hover:after:absolute hover:after:w-full hover:after:h-1 hover:after:bg-red-500 hover:after:bottom-0 hover:after:left-[48px] hover:after:-translate-x-full hover:after:transform hover:after:transition-transform hover:after:duration-300">
            Inicio
        </a>
        <a href="#sobre-mi" class="relative inline-block hover:after:absolute hover:after:w-full hover:after:h-1 hover:after:bg-red-500 hover:after:bottom-0 hover:after:left-[84px] hover:after:-translate-x-full hover:after:transform hover:after:transition-transform hover:after:duration-300">
            Sobre Mi
        </a>
        <a href="#proyectos" class="relative inline-block hover:after:absolute hover:after:w-full hover:after:h-1 hover:after:bg-red-500 hover:after:bottom-0 hover:after:left-[97px] hover:after:-translate-x-full hover:after:transform hover:after:transition-transform hover:after:duration-300">
            Proyectos
        </a>
        <a href="#contactame" class="relative inline-block hover:after:absolute hover:after:w-full hover:after:h-1 hover:after:bg-red-500 hover:after:bottom-0 hover:after:left-[115px] hover:after:-translate-x-full hover:after:transform hover:after:transition-transform hover:after:duration-300">
            Contáctame
        </a>
    </nav>  
</header>



